* {
  margin: 0;
  padding: 0;
  background-color: #28223f;
}
section {
  position: absolute;
  margin: 50px 40%;
  border-radius: 10px;
}

.info {
  background-color: #291d59;
  height: 400px;
  width: 400px;
  color: white;
  font-size: 20px;
  font-weight: 500;

  p {
    /* margin-left: 30px; */
    text-align: center;
    background-color: #291d59;
  }
  h2 {
    background-color: #291d59;
    text-align: center;
  }
}
.info #logo {
  /* position: absolute; */
  background-color: gold;
  color: black;
  font-weight: 600;
}
.info img {
  border-radius: 50%;
  border: 3px solid aqua;
  margin: 5px 25%;
}

/*Follower button and massege button*/

.info .button {
  display: flex;
  margin-left: 10px;
  gap: 10px;
  background-color: #291d59;
  padding: 5px;
  :hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  #btn1 {
    background-color: aqua;
    color: black;
    border-radius: 2px;
    width: 100px;
  }
  #btn2 {
    color: aqua;
    border: 3px solid aqua;
    width: 100px;
  }
}

/*socialmedia icon*/

ul {
  background-color: #291d59;
  display: flex;
  gap: 20px;
  padding-inline-start: 90px;

  :hover {
    transform: scale(1.1);
  }
}
.info .icon a {
  position: relative;
  list-style: none;
  display: flex;
  gap: 30px;
  background-color: #291d59;
  /* color: white; */
}

/*this is skill section*/

.main-section .skill {
  background: #504b65;

  width: 400px;
  height: 200px;
  color: white;
  font-weight: 600;
}
.skill-list button {
  display: flexbox;
  gap: 13px;
  color: white;
  border: 2px solid white;
  width: 100px;
  height: 30px;
}
