* {
  margin: 0;
  padding: 0;
  background-color: rgb(41, 3, 68);
}
#hd-button {
  background-color: gold;
  width: 50px;
  height: auto;
  color: black;
  font-weight: 500;
  /* border-radius: 10px; */
}
.main-container1 {
  position: relative;
  float: left;
  height: 600px;
  width: 700px;
  background-color: rgb(177, 202, 15);
  color: black;
  margin: 100px 400px;
}
.main-container1 .main-container {
  /* display: flex; */
  background-color: aliceblue;
  height: 400px;
  width: 500px;
}
.main-container .main-div1 {
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  img {
    border-radius: 50%;
    border: 3px solid aqua;
  }
}
.main-container .main-div2 {
  color: white;
  font-size: 20px;
  font-family: 400;
  text-align: center;
  button {
    background-color: aqua;
    margin: 5px;
    padding: 3px;
    font-size: 20px;
    font-weight: 500;
  }
  #second-button {
    background: transparent;
    border: 2px solid aqua;
    color: aqua;
    font-size: 20px;
    font-weight: 500;
  }
}
.footer-main {
  background-color: aliceblue;
  margin: 0 300px 50px 300px;
  padding: 30px;
}
h2 {
  color: white;
  font-weight: 600;
}
footer .skill-button {
  padding-top: 20px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  button {
    font-size: 15px;
    width: fit-content;
    margin:5px;
    padding: 5px;
  }
}
.footer-main button {
  color: white;
  margin: 1px;
  width: 100px;
  height: auto;
  border: 0.5px solid;
  cursor: pointer;
}
